<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="styles_script">
    <link  rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/sb-admin.css}"/>
    <!-- Custom Fonts -->
    <link rel="stylesheet" th:href="@{/css/font-awesome/css/font-awesome.min.css}" type="text/css"/>

    <script  type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/react/react.js}"></script>
    <script type="text/javascript" th:src="@{/js/react/react-dom.js}"></script>
    <script type="text/javascript" th:src="@{/js/react/babel-core.js}"></script>
</head>
<body>
<div th:fragment="footer">
    &copy; 2016 Footer
</div>
</body>
</html>

