<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Illumination App</title>
    <object th:include="fragments/script_styles :: styles_script" th:remove="tag" ></object>
   <script  type="text/javascript" th:src="@{/js/lightForm.js}"></script>

</head>
<body>

<div id="wrapper">
    <object th:replace="fragments/global_layout :: page_layout" ></object>

    <div id="page-wrapper">

        <div class="container-fluid">
                <form th:action="@{/light/create} " method="post" th:object="${LIGHT_LAMP_FORM}">

                    <div th:if="${#fields.hasAnyErrors()}">
                        <div class="alert alert-danger" role="alert" th:each="err : ${#fields.allErrors()}"
                             th:text="${err}"></div>
                    </div>

                    <input type="text" th:field="*{name}" readonly="readonly" />
                    <div th:each="timeData,status : *{times}" class="form-group jq-day-group">
                        <div th:text="${timeData.day}"></div>
                        <div class="jq-to-clone form-group">
                            <span class="jq-group" th:each="timeLine,timeStatus : ${timeData.timeLine}">
                                <div class="jq-template" th:if="${timeStatus.index} ==0" >
                                    <label>Start</label><input class="jq-start-to-clone" th:field="*{times[__${status.index}__].timeLine[__${timeStatus.index}__].startTime}" />
                                    <label>End</label><input class="jq-end-to-clone" th:field="*{times[__${status.index}__].timeLine[__${timeStatus.index}__].endTime}"  />
                                    <button class="btn btn-primary add-more" type="button" th:text="#{labels.form.add.more}"></button>
                                </div>
                                <div class="jq-copy" th:if="${timeStatus.index} !=0">
                                  <label>Start</label><input class="jq-start-to-clone" th:field="*{times[__${status.index}__].timeLine[__${timeStatus.index}__].startTime}" />
                                    <label>End</label><input class="jq-end-to-clone" th:field="*{times[__${status.index}__].timeLine[__${timeStatus.index}__].endTime}"  />
                                      <input type="checkbox" class ="jq-remove-tag hidden" th:field="*{times[__${status.index}__].timeLine[__${timeStatus.index}__].remove}" />
                                    <button class="btn btn-danger jq-remove-existed" type="button">-</button>
                                </div>
                            </span>

                        </div>
                        <!--<label>Start</label><input th:field="*{times[__${status.index}__].startTime}" />-->
                        <!--<label>End</label><input th:field="*{times[__${status.index}__].endTime}"  />-->

                    </div>
                    <button type="submit" name="create" th:text="#{labels.form.create}"></button>
                </form>
        </div>
        <!-- /.container-fluid -->

    </div>
</div>
<!--<div th:replace="fragments/footer :: footer"> </div>-->

</body>
</html>