<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1.0"/>
    <title>Illumination App</title>
    <object th:include="fragments/script_styles :: styles_script" th:remove="tag" ></object>
</head>
<body>
<script type="text/javascript" th:inline="javascript">



    var lampList = JSON.parse([[${lightMapList}]]);
    var WORKING = [[${WORKING}]];
    var NOT_WORKING = [[${NOT_WORKING}]];
    var BROKEN = [[${BROKEN}]];


    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 50.067396, lng: 19.918584},
            zoom: 17
        });
        for (var index in lampList) {
            var lamp = lampList[index];
            console.log(lamp);
            var latitude = lamp.addressData.latitude;
            var longitude = lamp.addressData.longitude;
            var lampCircle = new google.maps.Circle({
                strokeColor: color(),
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: color(),
                fillOpacity: 0.35,
                map: map,
                center: {lat: latitude, lng: longitude},
                radius: 3
            });
            var infoWindow= new google.maps.InfoWindow({
                content: lamp.description
            });
            google.maps.event.addListener(lampCircle, 'click', function(ev){
                infoWindow.setPosition(lampCircle.getCenter());
                infoWindow.open(map);
            });
            function color() {
                switch(lamp.status) {
                    case WORKING:
                        return '#FFE600';
                        break;
                    case BROKEN:
                        return '#FF0000';
                        break;
                    case NOT_WORKING:
                        return '#000000';
                        break;
                    default:
                        return '#09FF00';
                }
            }
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6-ajzun0ZQL43737t54ib-p7QW_Ssopc&amp;callback=initMap"
        async="defer"></script>
<div id="wrapper">
    <object th:replace="fragments/global_layout :: page_layout" ></object>

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="map-wrapper">
                <div id="map" style="width: 100%; height: 100%;"></div>
            </div>

        </div>
    </div>
</div>
<!--<div th:replace="fragments/footer :: footer"> </div>-->


</body>
</html>