<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Illumination App</title>
    <object th:include="fragments/script_styles :: styles_script" th:remove="tag" ></object>
</head>
<body>

<div id="wrapper">
    <object th:replace="fragments/global_layout :: page_layout" ></object>

    <div id="page-wrapper">

        <div class="container-fluid">

            <form th:action="@{/register}" method="post" th:object="${REGISTER_FORM}">

                <div th:if="${#fields.hasAnyErrors()}">
                    <div class="alert alert-danger" role="alert" th:each="err : ${#fields.allErrors()}"
                         th:text="${err}"></div>
                </div>

                <div class="row form-group">
                    <div class="col-md-2" th:text="#{labels.form.login}"></div>
                    <div class="col-md-2">
                        <input class="form-control" type="text" required="true" th:field="*{login}"/>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2" th:text="#{labels.form.password}"></div>
                    <div class="col-md-2">
                        <input class="form-control"  type="password" required="true" th:field="*{password}" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2" th:text="#{labels.form.roles}"></div>
                    <div class="col-md-2">
                        <select class="selectpicker" th:field="*{roleIds}" multiple="multiple" id="lampModuleData"
                                name="lampModuleData">
                            <option th:each="role : ${ROLES}"
                                    th:field="*{roleIds}"
                                    th:value="${{role.roleId}}"
                                    th:text="#{${role.roleName}}">Wireframe
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <button type="submit" class="btn btn-primary" name="addRow"
                            th:text="#{labels.form.create}"></button>
                    <button type="reset" name="addRow" th:text="#{labels.form.reset}"></button>
                </div>
            </form>
        </div>
        <!-- /.container-fluid -->

    </div>
</div>
<!--<div th:replace="fragments/footer :: footer"> </div>-->


</body>
</html>